body {
    /*background-image: url("fonforbackground.jpg");*/
    background-image: url("texture2.jpg");
    background-attachment: fixed; /* Фиксируем фон веб-страницы */
    background-position: left 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff; /* Цвет текста */
    overflow: scroll;
    background-size: auto;
    height: 100%; /* высота элемента */
    margin: 0; /* внешний отступ со всех сторон */
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position: center;
    z-index: 1;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

div.mybardiv {
    position: fixed;
    width: 100%;
}
.mybar ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top: 40px; /*делаем отступ сверху*/
}

.mybar a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: #000000; /*добавляем фон к пункту меню*/
    color: #ffffff; /*меняем цвет ссылок*/
    padding: 10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius: 4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

    .mybar a:hover {
        background: #808080; /*добавляем эффект при наведении*/
    }

.mybar li {
    list-style: none; /*убираем маркеры списка*/
    float: left; /*Размещаем список горизонтально для реализации меню*/
    font-size: 13px;
    margin-right: 5px; /*Добавляем отступ у пунктов меню*/
}

.leftimg {
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
    border-radius: 6px; /*добавляем скругление*/
    -moz-transition: all 0.5s 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.5s 0.3s 0.01s ease;
    -webkit-transition: all 0.5s 0.3s 0.01s ease;
}

.rightimg {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
}
table.mytable {
    color: #000000;
    font-style: oblique;
    border: 2px solid black; /*устанавливаем для таблицы внешнюю границу черного цвета толщиной 3px*/
    background-image: url("Wrinkled Paper.jpg");
    background-attachment: scroll;
    background-color: white;
    max-width: 95%;
    width: 95%;
}
    table.mytable th {
        padding: 2px 2px 1px 5px;
        vertical-align: top;
    }
    table.mytable td {
        padding: 2px 2px 1px 5px;
        vertical-align: top;
    }

table.mytable2 {
    color: #000000;
    font-style: oblique;
    border: 2px solid black;
    background-attachment: scroll;
    max-width: 100%;
    width: 100%;
}

    table.mytable2 th {
        padding: 1px 2px 1px 5px;
        vertical-align: top;
    }

    table.mytable2 td {
        padding: 1px 2px 1px 5px;
        vertical-align: top;
    }
    table.mytable2 tr:hover td {
        background: #808080;
    }

table.mytable3 {

        border: 2px solid black;
        background-image: url("smokeBrushes_normal_16.png");
        background-attachment: scroll;
        background-color: white;
        max-width: 500px;
        width: 500px;
        height: 800px;
        max-height: 800px;

    }
    table.mytable3 td {
        color: #000000;
        font-style: oblique;
        font-size: large;
        align-content: center;
        vertical-align: central;
    }

