@model List<FileResult>
@foreach (FileResult item in Model)
{
    @*<div>
        <img width="150" height="150" src="@item" />
    </div>*@
    <div>
        <img width="150" height="150" src="@item" />
    </div>


}
