@model List<string>

<div class="eraser">
    @ViewBag.ResultFromUpload
</div>

@foreach (string item in Model)
{
    <div>
        @{
            if (item.Length > 0)
            {
                string imgsrc = String.Concat("~/Files/", @item);
                <img src=@Url.Content(@imgsrc) width="150" height="150" />
            }
        }
    </div>
}
