body {
    margin: 0;
    font-family: My_Flex_font;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: My_Flex_font;
}
    ul.topnav li {
        float: left;
    }

        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.topnav li a:hover:not(.active) {
                background-color: #111;
            }

            ul.topnav li a.active {
                background-color: #808080;
            }

        ul.topnav li.right {
            float: right;
        }

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}
@font-face {
    font-family: 'My_Flex_font';
    src: url('../../fonts/ofont.ru_PF Stamps Pro Flex.ttf') format('truetype');
}

/*стиль для адаптивной таблицы - начало*/
.table-wrap {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 2rem 2rem;
    color: #000;
}
table {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
    table tr {
        border: 1px solid #ddd;
        padding: 5px;
    }
    table th, table td {
        padding: 10px;
        text-align: center;
        border-right: 1px solid #ddd;
    }
    table th {
        color: #fff;
        background-color: #444;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
    }
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
        table thead {
            display: none;
        }
        table tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid #ddd;
        }
        table td {
            display: block;
            text-align: right;
            font-size: 13px;
            border-bottom: 1px dotted #ccc;
            border-right: 1px solid transparent;
        }
            table td:last-child {
                border-bottom: 0;
            }
            table td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
}
/*стиль для адаптивной таблицы - конец*/

button {
    padding: 5px 20px; /* Добавляем поля */
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    text-align: center;
    cursor: pointer; /* Курсор в виде руки */
    background-color: black; /* Фон для браузеров*/
    color: white; /* Цвет текста и ссылки */
    border-radius: 10px; /* Скругляем уголки */
    border: 1px solid black; /* Добавляем синюю рамку */
}
    button:hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
a {
    background-color: black; /* Фон для браузеров*/
    color: white; /* Цвет текста и ссылки */
    font-size: medium;
    font-family: My_Flex_font;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
    a:hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
input[type="submit"] {
    padding: 5px 20px; /* Добавляем поля */
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    text-align: center;
    cursor: pointer; /* Курсор в виде руки */
    background-color: black; /* Фон для браузеров*/
    color: white; /* Цвет текста и ссылки */
    border-radius: 10px; /* Скругляем уголки */
    border: 1px solid black; /* Добавляем синюю рамку */
    font-size: medium;
    font-family: My_Flex_font;
}

    input[type="submit"] :hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
    input[type="submit"] a {
        background-color: black; /* Фон для браузеров*/
        color: white; /* Цвет текста и ссылки */
        border-radius: 10px; /* Скругляем уголки */
        border: 1px solid black; /* Добавляем синюю рамку */
        font-size: medium;
        font-family: My_Flex_font;
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    input[type="submit"] a:hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
