body {
    margin: 0;
    font-family: My_Flex_font;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: My_Flex_font;
}
    ul.topnav li {
        float: left;
    }

        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            ul.topnav li a:hover:not(.active) {
                background-color: #111;
            }

            ul.topnav li a.active {
                background-color: #808080;
            }

        ul.topnav li.right {
            float: right;
        }

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}
@font-face {
    font-family: 'My_Flex_font';
    src: url('../../fonts/ofont.ru_PF Stamps Pro Flex.ttf') format('truetype');
}

/*стиль для адаптивной таблицы - начало*/
.table-wrap {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    padding: 2rem 2rem;
    color: #000;
}
table {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
    table tr {
        border: 1px solid #ddd;
        padding: 5px;
    }
    table th, table td {
        padding: 10px;
        text-align: center;
        border-right: 1px solid #ddd;
    }
    table th {
        color: #fff;
        background-color: #444;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
    }
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
        table thead {
            display: none;
        }
        table tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid #ddd;
        }
        table td {
            display: block;
            text-align: right;
            font-size: 13px;
            border-bottom: 1px dotted #ccc;
            border-right: 1px solid transparent;
        }
            table td:last-child {
                border-bottom: 0;
            }
            table td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
}
/*стиль для адаптивной таблицы - конец*/

button {
    padding: 5px 20px; /* Добавляем поля */
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    text-align: center;
    cursor: pointer; /* Курсор в виде руки */
    background-color: black; /* Фон для браузеров*/
    color: white; /* Цвет текста и ссылки */
    border-radius: 10px; /* Скругляем уголки */
    border: 1px solid black; /* Добавляем синюю рамку */
}
    button:hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
a {
    background-color: black; /* Фон для браузеров*/
    color: white; /* Цвет текста и ссылки */
    font-size: medium;
    font-family: My_Flex_font;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
    a:hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
input[type="submit"] {
    padding: 5px 20px; /* Добавляем поля */
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    text-align: center;
    cursor: pointer; /* Курсор в виде руки */
    background-color: black; /* Фон для браузеров*/
    color: white; /* Цвет текста и ссылки */
    border-radius: 10px; /* Скругляем уголки */
    border: 1px solid black; /* Добавляем синюю рамку */
    font-size: medium;
    font-family: My_Flex_font;
}

    input[type="submit"] :hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
    input[type="submit"] a {
        background-color: black; /* Фон для браузеров*/
        color: white; /* Цвет текста и ссылки */
        border-radius: 10px; /* Скругляем уголки */
        border: 1px solid black; /* Добавляем синюю рамку */
        font-size: medium;
        font-family: My_Flex_font;
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
    }

    input[type="submit"] a:hover {
        background-color: white; /* Фон для браузеров*/
        color: black; /* Цвет текста и ссылки */
    }
/* Базовые стили слоя затемнения и модального окна  */
.overlay3 {
    text-align: center;
    vertical-align: central;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none; /*модальное окно скрыто, пока пользователь не кликнет ссылку*/
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
    /* активируем слой затемнения */
    .overlay3:target {
        display: block;
    }
/* стили модального окна */
.popup3 {
    text-align: center;
    top: -3%;
    right: 0;
    left: 50%;
    z-index: 20;
    margin: 0;
    width: 50%;
    height: auto;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 5px 5px 5px 5px;
    border: 1px solid #383838;
    background: #000000;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay3:target + .popup3 {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
    .close3 {
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        position: absolute;
        padding: 0;
        font-size: medium;
        border: 2px solid #ccc;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        background-color: rgba(61, 61, 61, 0.8);
        -webkit-box-shadow: 0px 0px 10px #000;
        -moz-box-shadow: 0px 0px 10px #000;
        box-shadow: 0px 0px 10px #000;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all ease .8s;
        -moz-transition: all ease .8s;
        -ms-transition: all ease .8s;
        -o-transition: all ease .8s;
        transition: all ease .8s;
    }

    .close3:before {
        color: rgba(255, 255, 255, 0.9);
        content: "X";
        text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    }

    .close3:hover {
        background-color: rgba(252, 20, 0, 0.8);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
/* изображения внутри окна */
.popup3 img {
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup3 p { /*текст*/
    margin: 0;
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    font-family: My_Flex_font;
    color: white;
    line-height: normal;
    width: auto;
    height: auto;
}
.block3 {
    display: block;
    float: left;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

    .block3:hover {
        -webkit-transform: scale(1.2,1.2);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 550ms;
        -moz-transform: scale(1.2,1.2);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 550ms;
    }
textarea {
    overflow: no-display;
    max-width: 800px;
    max-height: 600px;
    min-width: 600px;
    min-height: 100px;
    text-wrap: none; /*перенос слов на другую строку выключен*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    vertical-align: top;
    outline: groove;
    border-radius: 5px;
}
div.mydiv_updateComment {
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-radius: 10px;
}
.button_admin {
    display: inline-block; /* Строчно-блочный элемент */
    padding: 5px 10px; /* Добавляем поля */
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    cursor: pointer; /* Курсор в виде руки */
    background-color: white; /* Фон для браузеров*/
    border-radius: 10px; /* Скругляем уголки */
    border: 1px solid black; /* Добавляем синюю рамку */
    font-family: My_Flex_font;
    font-size: large;
    font-weight: bolder;
    color: black; /* Цвет текста и ссылки */
    text-align: center;
}

    .button_admin:hover {
        background-color: black; /* Фон для браузеров*/
        border: 1px solid white; /* Добавляем синюю рамку */
        color: white; /* Цвет текста и ссылки */
        text-align: center;
    }
