@using RemontUnderKey.Web.Models
@model IEnumerable<Photo_View>


    <body>
        @foreach (var item in Model)
        {
            <a href="@Url.Action( "GetPhoto", "Photo", new { id = item.Id})">
                <img src=@item.ImgSrc alt="@item.ImgSrc"
                     style="
                     align-content: center;
                     width: 300px;
                     image-rendering: optimizeSpeed;
                     white-space: normal;
                     image-orientation: unset;" />
            </a>
        }
    </body>
