@model RemontUnderKey.Web.Models.Photo_View


<body>
    <div>
            <img src=@Model.ImgSrc alt="@Model.ImgSrc"
                 style="
                     align-content: center;
                     width: 300px;
                     image-rendering: optimizeSpeed;
                     white-space: normal;
                     image-orientation: unset;" />
    </div>
</body>
