<div style="text-align: center;">
    <div style="text-align: center; margin-bottom: 30px; ">
        <u>@ViewBag.TODO</u>
    </div>
    @using (Html.BeginForm("DeleteKind_Admin", "Kind", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div align="center">
            <div style="text-align: center;  margin-top: 10px; margin-bottom: 10px; font-size: small;">
                ВЫБЕРИТЕ РАЗНОВИДНОСТЬ РСР:
            </div>
            <div style="text-align: center;  margin-top: 10px; margin-bottom: 10px; font-size: small;">
                @Html.DropDownList("title", ViewBag.Kinds as SelectList)
            </div>
            <div style="text-align: center;  margin-top: 10px; margin-bottom: 10px; font-size: small;">
                <input type="submit" value="УДАЛИТЬ РАЗНОВИДНОСТЬ РСР" />
            </div>
        </div>
    }
</div>




