@using RemontUnderKey.Web.Models
@model IEnumerable<KindOfJob_View>

<body> 
    <div style="padding-left: 5%">
        <table class="mytable">
            <tr>
                <th width="80%" align="left">
                    Виды работ
                </th>
                <th width="10%" align="center">
                    Единица измерения
                </th>
                <th width="10%" align="center">
                    Стоимость, долл. по курсу НБ РБ
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th colspan="3">
                        @Html.DisplayFor(modelItem => item.TitleOfKindOfJob)
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.Action("AllJobsByIdOfkind", "Job", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        </div>
</body>
