    <body>
    <div style="align-content:center; vertical-align:central; height: 1000px">
        @ViewBag.Result       
    </div>
        <br />
    <div>
        @Html.ActionLink("ВЕРНУТЬСЯ НА ГЛАВНУЮ", "Index", "Home")
    </div>
</body>
