    <body>
        <table class="mytable3">
            <tr>
                <td>
                    @ViewBag.Result
                </td>
            </tr>
        </table>
        <br />
    <div style="color: white; font-size: small">
        @Html.ActionLink("ВЕРНУТЬСЯ НА ГЛАВНУЮ", "Index", "Home")
    </div>
</body>
