    
<body>
        <div style="padding-left: 250px; padding-right: 20px;">
            <table class="mytable3">
                <tr>
                    <td align="center">
                        <p class="brush">
                            @ViewBag.Result
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <br />
</body>
