@model string

<div style="margin-bottom: 10px;">@ViewBag.ResultPartial</div>
@using (Html.BeginForm("DeleteRoleFromDB_Admin", "Role", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" align="center">
        <div style="text-align: center;  margin-top: 5px; margin-bottom: 10px; color: black; font-size: smaller;">
            Выберите роль :
        </div>
        @Html.DropDownList("titleRole", ViewBag.Roles as SelectList)
        <div style="margin-top: 20px;">
            <input type="submit" value="УДАЛИТЬ РОЛЬ" />
        </div>
    </div>
}





