@section Body {

    <p class="homeCertificate">
        @ViewBag.Salute
    </p>
    <div class="homeCertificate">
        <img src="~/Content/Images_my/Registration_certificate.jpg" alt="@ViewBag.Title" />
    </div>
}
