@using RemontUnderKey.Web.Models
@model IEnumerable<Job_View>
    <div>
        <table class="mytable2">
            @foreach (var item in Model)
            {
                <tr>
                    <td width="80%">
                        @Html.DisplayFor(modelItem => item.TitleOfJob)
                    </td>
                    <td width="10%">
                        @Html.Action("GetUnit", "Unit", new { id = item.UnitOfJob_ViewId })
                    </td>
                    <td width="10%">
                        @Html.DisplayFor(modelItem => item.PriceOfUnitOfJob)
                    </td>
                </tr>
            }
        </table>
    </div>
