@using RemontUnderKey.Web.Models
@model IEnumerable<Job_View>

<table class="mytable">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleOfJob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOfJob_ViewId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOfUnitOfJob)
        </td>
    </tr>
}
</table>
