<div style="text-align: center; font-size: medium; font-family:My_Flex_font; color: white;">
    ЗДЕСЬ МОГУТ БЫТЬ ВАШИ ФОТО
</div>
<p>&nbsp;</p>
<div style="text-align: center; font-size: medium; font-family:My_Flex_font; color: white;">
    @ViewBag.Mess
</div>

