@using RemontUnderKey.Web.Models
@model IEnumerable<Upload_View>

<div>
    @ViewBag.Result
</div>
@foreach (var item in Model)
{
<span>
    @{
        if (item.File != null)
        {
            int lenthoffile = item.File.Length;
            string imageBase64 = Convert.ToBase64String(item.File);
            string imageType = item.FileType;
            string imageSrc = string.Format("data:{1};base64,{0}", imageBase64, imageType);
            <img src="@imageSrc" width="150" height="150" />
            <span>
                @lenthoffile
            </span>

        }
    }
</span>
}
